<launch>
<!-- ############################################################ -->
<!--  ##############################################################  -->

  <!-- Global arguments define here,you can update default value -->
  <arg name="Wakeup_Topic" default="/voice_system/wakeup_topic" doc="wakeup topic" />
  <arg name="ASR_Topic"    default="/voice_system/asr_topic"    doc="asr topic" />
  <arg name="NLU_Topic"    default="/voice_system/nlu_topic"    doc="nlu topic" />
  <arg name="TTS_Topic"    default="/voice_system/tts_topic"    doc="tts topic" />
  <arg name="MOVE_Topic"   default="/voice_system/move_topic"   doc="move topic" />
  <arg name="NAV_Topic" default="/voice_system/voice_cmd_vel" />

  <!-- ******************* WAKEUP NODE LIST START ******************** -->
 <!--  startup pocketshinx and wakeup hotword detect node -->
  <include file="$(find pocketsphinx)/launch/pocketsphinx.launch" >
    <arg name="Wakeup_Topic" value="$(arg Wakeup_Topic)" />
  </include>

  <include file="$(find sphinx_wakeup)/launch/sphinx_wakeup.launch" >
    <arg name="Wakeup_Topic" value="$(arg Wakeup_Topic)" />
    <arg name="ASR_Topic" value="$(arg ASR_Topic)" />
  </include>

  <!-- startup snowboy hotword detector node -->
  <!--
  <include file="$(find snowboy_wakeup)/launch/snowboy_wakeup.launch" >
    <arg name="ASR_Topic" value="$(arg ASR_Topic)" />
  </include> -->
  <!-- ******************* WAKEUP NODE LIST END ********************** -->


  <!-- ******************* ASR NODE LIST START ********************** -->
  <!-- startup asr node -->
  
  <include file="$(find iflytek_asr)/launch/iflytek_asr.launch" >
    <arg name="ASR_Topic" value="$(arg ASR_Topic)" />
    <arg name="NLU_Topic" value="$(arg NLU_Topic)" />
  </include>
 
  <!-- startup baidu asr node -->
  <!-- 
  <include file="$(find baidu_speech)/launch/baidu_asr.launch" >
    <arg name="ASR_Topic" value="$(arg ASR_Topic)" />
    <arg name="NLU_Topic" value="$(arg NLU_Topic)" />
  </include>
  -->
  <!-- ******************** ASR NODE LIST END ************************ -->


  <!-- ******************* NLU NODE LIST START *********************** -->
  <!-- startup tuling nlu node -->
  <include file="$(find tuling_nlu)/launch/tuling_nlu.launch" >
    <arg name="NLU_Topic"  value="$(arg NLU_Topic)" />
    <arg name="TTS_Topic"  value="$(arg TTS_Topic)" />
    <arg name="MOVE_Topic" value="$(arg MOVE_Topic)" />
    <arg name="NAV_Topic"  value="$(arg NAV_Topic)" />
  </include>
  <!-- ******************* NLU NODE LIST END ************************* -->


  <!-- ******************* TTS NODE LIST START *********************** -->
  <!-- startup iflytek_tts node -->
  <include file="$(find iflytek_tts)/launch/iflytek_tts.launch" >
    <arg name="TTS_Topic" value="$(arg TTS_Topic)" />
  </include> 

  <!-- startup baidu_tts node -->
  <!--
  <include file="$(find baidu_speech)launch/baidu_tts.launch" >
    <arg name="TTS_Topic" value="$(arg TTS_Topic)" />
  </include>
  -->
  <!-- ******************* TTS NODE LIST END ************************* -->


  <!-- ******************* VOICE MOVE NODE START ********************* -->
  <include file="$(find voice_move)/launch/voice_move.launch">
    <arg name="MOVE_Topic" value="$(arg MOVE_Topic)" />
  </include>
  <!-- ******************* VOICE MOVE NODE END *********************** -->
  
  
  <!-- ******************* VOICE NAVIGATION NODE START *************** -->
  <include file="$(find voice_navigation)/launch/voice_navigation.launch">
    <arg name="NAV_Topic" value="$(arg NAV_Topic)" />"
  </include>
  <!-- ******************* VOICE NAVIGATION NODE END ***************** -->

</launch>

